body {
  height: 100%;
  width: 100%;
  background-color: #dad8d8;
  
}
.parant {
  height: 100vh;
  padding: 30px 40px;
  margin: 50px 40px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 1px solid black;
  background-color: white;
  border: none;
  border-radius: 20px;
  
}
.top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dadada;
}
.top p {
  display: flex;
  gap: 6px;
  font-weight: bold;
  font-size: 20px;
  padding: 2px;
}
.top button {
  display: flex;
  text-align: center;
  gap: 6px;
  font-size: 15px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #dadada;
  border-radius: 7px;
}
.bottom {
  margin: 15px;
  
}
.msg {
  border-radius: 10px;
  background-color: #efefefee;
  padding: 6px;
  margin-top: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.bottom button {
  display: inline-block;
  margin: 0 5px;
  border-radius: 4px;
  border: 1px solid #dadada;
  padding: 4px 10px;
  text-align: center;
  background-color: transparent;
}
.msg .UI {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}
.msg .UI span {
  background-color: #c9f3c9;
  color: #58ba58;
  border-radius: 10px;
  font-size: small;
  padding: 1px 5px;
  max-height: 20px;
}
.msg .UI p {
  margin: 0;
  font-size: 14px;
  color: black;
  
  
}
.msg #collaberation {
  display: flex;
  gap: 0;
  margin: 8px 0;
}
.msg img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.msg p {
  color: #b8b7b7;
  font-size: 13px;
  margin: 1px;
}
.msg span {
  color: black;
}
