body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  background: linear-gradient(rgba(45, 45, 45, 0.5), rgba(73, 68, 68, 0.5)), url("./components/images/login.png");
  background-size: cover;
  background-position: center;
}
.login {
  backdrop-filter: blur(2px); 
  border: 5px, solid, white;
  border-radius: 20px;
  margin: 150px 80px;
  padding: 50px 40px;
  width: 300px;
  height: 500px;

}
.top h3 {
  font-size: 30px;
  margin-bottom: 0;
}
.top p {
  font-size: 15px;
  margin-top: 0;
}
.center {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.center .user-input, .password-input {
  position: relative;
  width: 200px;
  
}
.center .user-input input, .password-input input {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  outline: none;
  color: white;
    
}
.icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.8);
}

.user-input input::placeholder,
.password-input input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.center .check {
  display: flex;
  gap: 5px;
}
.center p {
  margin-top: 2px;
  font-size: 15px;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  margin: 90px 0;
  gap: 0;
}
.bottom button {
  width: 250px;
  height: 50px;
  padding: 7px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(#e6d6d6b5, #00000075);
}
.bottom p {
  font-size: 15px;
}
.bottom p span {
  font-style: italic;
  color: rgba(234, 208, 208, 0.635);
}
.bottom #footer {
  margin: 80px auto;
  font-size: 13px;
}
