body {
    background-color: black;
    font-size: 50px;
    color: white;
}
button {
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}
h1 {
    padding: 10px;
    background-color: rgb(130, 129, 129);
    width: fit-content;

}