body {
  height: 100%;
  width: 100%;
}
.parant {
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
}
.card {
  height: 400px;
  width: 300px;
  background-color: #fff;
  border-radius: 20px;

}